@import url("https://fonts.googleapis.com/css?family=Roboto:100");

html {
    min-height: 100%;
    position: relative;
  }

body{
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;  
    cursor: url(images/cursor.png), auto;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
}

footer{
    display: block;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

#botonIrArriba {
    display: none;
    position:fixed;
    bottom: -25px;
    left: 50%;
    z-index: 99;
    font-size: 18px;
    background-color: goldenrod;
    color: white;
    border: 2px black solid;
    border-radius: 70%;
    padding: 10px 15px;
    cursor: url(images/hand.png), auto;
}

.banner_redes{
    background-image: linear-gradient(to right, rgb(255, 225, 128),#daa520,rgb(255, 225, 128),goldenrod,rgb(255, 225, 128));    
    background-size: cover;
    text-align: right;
    width: 100%;
}

.banner_redes img{
    margin: 5px;
    width: 25px;
    justify-content:end;
}

.logo-container{
    margin-left: 50px;
}

.logo-container img {
    max-width: 250px;
    height: auto;
}

.logo-container img:hover{
    transform: scale(1.1);
    cursor: url(images/hand.png), auto;    
}

.menu_container{
    display: flex;
    background-size: cover;
    margin-bottom: -20px;
    width: 100%;
    height: 110px;
    background-color: #000000;
}

.login{
    position: static;
    padding-top: 18px;
}

.loginbtn{
    right: 20px;
    border-radius: 10px;
    width: 220px;
    margin-right: 20px;
    margin-left: 30px;
    padding: 2px;
    display: flex;
    border: none;
    background-color: rgba(255, 220, 124, 0.87);
}

.loginbtn h2{
    text-align: center;
    margin: 10px;

}

.loginbtn img{
    width: 40px;
    height: 40px;
}

.loginbtn:hover{
    transform: scale(1.1);
    cursor: url(images/hand.png), auto;   
}

.login_content{
    right: 50px;
    color: white;  
    background-color: #424242a2;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: none;
    position: fixed;
    margin-top: 10px;
}

.login_content h2{
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.login_content input{
    margin: 10px;
    min-width: 200px;
    height: 20px;
    border-radius: 30px;
    padding: 10px;
}

.login_content button{
    margin: 10px;
    padding: 2px;
    width: 90px;
    border-radius: 30px;
    background-image: linear-gradient(to right, goldenrod, yellow, goldenrod, yellow, goldenrod);
    color: rgb(134, 110, 31);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
  
  .dropdown-content {
    justify-content: right;
    width: 80%;
    height: 50px;
    display: flex;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
  .dropdown-content a{
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
    display: block;
    color: #ffff;
    border-radius: 20px;
    width: 190px;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1b7;
    color: #000000;
    cursor: url(images/hand.png), auto;   
}

.dropdown-content a:active{
    background-color: rgba(54, 54, 54, 0.363);
    color: white;
}
  
.background_ini{
    background-image: url(images/background_ini.png);
    background-size: cover;
    height: 900px;
    width: 100%;
    background-attachment: fixed;
    text-align: right;
    justify-content: right;
    align-items: end
}

.title_ini{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

.subtitle_ini{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    padding-right: 50px;
    margin-top: -60px;
}



.form_background{
    border-radius: 10px;
    margin-left: 1550px;
    margin-top: 50px;
    width: 300px;
    height: 40px; 
    background-image: linear-gradient(to right, goldenrod, yellow, goldenrod, yellow, goldenrod);
}

.form_btn{
    text-decoration: none;
    text-align: center;
    color: rgb(173, 124, 0);
}

.form_btn:hover{
    color: black;
    cursor: url(images/hand.png), auto;   
}

.container-capt{
    display: block;
    justify-content: center;
    text-align: center;
}

.texto-capt h2{
    color: white;
    margin-top: 20px;
}

.form-capt{
    border-radius: 10px;
    margin-left: 800px;
    margin-top: 40px;
    padding-top: -10px;
    width: 300px;
    height: 40px; 
    background-image: linear-gradient(to right, goldenrod, yellow, goldenrod, yellow, goldenrod);
}

#btn-capt{
    text-decoration: none;
    text-align: center;
    color: rgb(173, 124, 0);
    cursor: url(images/hand.png), auto;
}

#btn-capt h1{
    margin: 0;
}

#form-capt:hover{
    color: #000000;
    background-image: linear-gradient(to right, yellow, goldenrod, yellow, goldenrod, yellow);
}

#form_btn:hover{
    background-image: linear-gradient(to right, yellow, goldenrod, yellow, goldenrod, yellow);
    cursor: url(images/hand.png), auto;   
}

.form_background:hover{
    background-image: linear-gradient(to right, yellow, goldenrod, yellow, goldenrod, yellow);
    cursor: url(images/hand.png), auto;   
}

.mision_vision{
    display: flex;
    justify-content: space-between;
}

.show {
    display: block;
    right: 20px;
}

.modelos{
    padding: 80px;
}

.slider-frame{
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: -20px;
    overflow: hidden;
}

.slider-frame ul{
    animation: slide 16s infinite alternate ease-in-out;
    display: flex;
    padding: 0;
    width: 400%;
}

.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img{
    width: 100%;
}

@keyframes slide{
    0% {margin-left: 0%;}
    25% {margin-left: 0%;}

    30% {margin-left: -100%;}
    55% {margin-left: -100%;}

    60% {margin-left: -200%;}
    80% {margin-left: -200%;}

    85% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.content_location{
    background-image: url(../assets/images/fondo_section.jpg);
    background-attachment: fixed;
    background-size: cover;
    border: rgba(218, 165, 32, 0.336) solid 2px;
    margin: 40px;
    margin-top: 0;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.iframe{
    height: 500px;
    background-size: cover;
}

.photo{
    width: 800px;
    padding: 5px;
    align-content: center;
}
.photo img{
    width: 100%;
}

.txt-container{ 
    font-size: 22px;
    width: 900px;
    color: rgb(197, 197, 197);
    text-shadow: 5px 5px 20px goldenrod;
    padding: 40px;
    height: auto;
    margin-bottom: -20px;
}

.txt-container h2, .blog h2{
    color: goldenrod;
    text-shadow: 5px 5px 20px goldenrod;
}

.blog{
    font-size: 30px;
    padding: 50px;  
    color: rgb(197, 197, 197);
    justify-content: space-between;
}

.blog section{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.blog img{
    width: 450px;
}

.blog img:hover{
    box-shadow: 2px 2px 50px 12px rgb(0, 0, 0);
    transform: scale(0.95);
    cursor: url(images/hand.png), auto;   
}

.blog img:active{
    box-shadow: 2px 2px 50px 12px goldenrod;
}

.blog a{
    color: white;
    align-items: center;   
    overflow: hidden;
}

.blog a:hover{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(148, 148, 148); 
    transform: scale(0.95);
    cursor: url(images/hand.png), auto;   
}

.blog a:active{
    color: goldenrod;
    text-shadow: 2px 2px 2px rgb(255, 255, 255); 
}

.footer{
    margin: 0;
    display: flex;
    position: static;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: auto;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    bottom: 0;
    color: white;
    border-top: 2px goldenrod solid;
} 

.footer a{
    color: #ffff;   
    text-decoration: none;
    align-content: center;
    margin-bottom: 10px;
    font: bold;
    padding: 20px;
}

.footer a:hover{
    color: rgb(146, 146, 146);
    cursor: url(images/hand.png), auto;   
}

.footer a:active{
    color:  rgb(0, 140, 255);
}

.address{
    display: flex;
    position: relative;
    font-size: 18px;    
    margin-right: 20px;
    padding: 10px;
}

.address a{
    margin-top: 40px;
}

.address img{
    width: 40px;
    height: 40px;
    margin-top: 8px;
    background-color: white;
    border-radius: 50px;
    margin-right: 10px;
}

.location{
    display: flex;
}

#location{
    width: 60px;
}

.contact{
    margin-left: 400px;
    margin-top: 30px ;
    font-size: 35px;
}

.contact div{
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact img{
    margin-right: 20px;
    margin-top: 12px;
    border-radius: 40px;
    background-color: white;
}

.copyright{
    font-size: 18px;
    margin-left: 360px;
    padding-right: 50px;
    margin-top: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gallery-container {
    display: flex;
    padding: 40px;
    margin: 40px;
    background-image: url(../assets/images/fondo_section.jpg);
    background-attachment: fixed;
    background-size: cover;
    justify-content: space-between;
}

.image-container{
    width: 60%;
    height: 600px;
    overflow: hidden;
}

.image-container img{
    width: 100%;
}

.navigation-buttons button {
    text-decoration: none;
    display: block;
    border-radius: 30px;
    margin-top: 180px;
    width: 250px;
    height: 100px;
    padding: 8px 16px;
    background-color: black;
}

.navigation-buttons button:hover {
    background-color: #7e7e7e88;
    color: black;
    cursor: url(images/hand.png), auto;   
}

.table_users{
    background-image: url(../assets/images/fondo_section.jpg);
    background-size: cover;
    background-attachment: fixed;
    border: 2px black solid;
    width: 500px;
    color: white;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(223, 223, 223);
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th,
  td {
    padding: 20px;
  }
  
  thead th,
  tfoot th {
    font-family: "Rock Salt", cursive;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }
  
/* Estilos de la pestaña dic_webcam.html */
.container-blog{
    background-image: url(images/background-blog.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    padding: 80px;
    padding-left: 90px;
    padding-right: 200px;
    padding-top: 30px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-blog{
    display: block;
    justify-content: space-between;
}

.title-blog{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.intro-blog{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(128, 128, 128);
    font-size: 18px;
    padding-right: 500px;
}

.subtitle-blog{
    color: #ffd665;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 34px;
    
}

.table-blog{
    font-size: 15px;
    width: 800px;
    margin-left: 100px;
    border: #cea729 solid 1px;
    margin-top: 30px; 
}

.table-blog td{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 18px;
}

.table-blog th{
    background-color: #000000;
    font-size: 28px;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    margin: 20px;
}

.container-tables{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.list-blog{
    list-style-type: decimal;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

tr {
    border-bottom: #cea729 solid 1px;
}

tr:nth-child(even){
    background-color: #3f3f3f;
}

tr:nth-child(odd){
    background-color: #575757;
}


/* Estilos responsive */

@media only screen and (max-width: 430px){

}
